html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important; 
  font-size: 1rem;
  background-color: #FBFDFE !important; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --backGroundColor: #FBFDFE;
  --primaryColor: #556FF6;
  --secondaryColor: #E0E7FE;
  --textColo: #11133E;
  --secondaryTextColor: #9B9FA5;
}

.navb{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.75rem;
}

h5{
  font-size: 1.5rem;
}

h6{
  font-size: 1.25rem;
}

a {
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}

.singn-btn-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.singn-btn-section button{
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 0px;
  padding: 16px 20px;
}

.singn-btn-section svg{
  margin-right: 10px;
}

.home-card{
  text-align: center;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-card h2{
  text-decoration: none;
  font-size: 20px;
  color: #00000090;
}

.home-card:hover{
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}